<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofl.promotion.manage.data.mapper.IAdsOfflineDataMapper">
	<!-- 返回值映射map -->
	<resultMap id="BaseMapper" type="com.ofl.promotion.manage.data.entity.AdsOfflineDouyinData">
		<result property="id" column="id" />
		<result property="dyId" column="dy_id" />
		<result property="firstLevel" column="first_level" />
		<result property="secondLevel" column="second_level" />
		<result property="thirdLevel" column="third_level" />
		<result property="fourLevel" column="four_level" />
		<result property="guideId" column="guide_id" />
		<result property="guidePhone" column="guide_phone" />
		<result property="pullNewCount" column="new_count" />
		<result property="invPullNewCount" column="inv_count" />
		<result property="date" column="dt" />
	</resultMap>

	<resultMap id="CountMapper" type="com.ofl.promotion.manage.data.entity.AdsOfflineDataCount">
		<result property="guideCount" column="guide_count" />
		<result property="pullNewCount" column="new_count" />
		<result property="invPullNewCount" column="inv_count" />
		<result property="date" column="dt" />
	</resultMap>

	<sql id="selectAllColumns">
		id, dy_id, first_level, second_level, third_level, four_level, guide_id, guide_phone, new_count,
		inv_count, store_name, guide_name
	</sql>

	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="dyId != null">dy_id,</if>
			<if test="firstLevel != null">first_level,</if>
			<if test="secondLevel != null">second_level,</if>
			<if test="thirdLevel != null">third_level,</if>
			<if test="fourLevel != null">four_level,</if>
			<if test="guideId != null">guide_id,</if>
			<if test="guidePhone != null">guide_phone,</if>
			<if test="newCount != null">new_count,</if>
			<if test="invCount != null">inv_count,</if>
			<if test="dt != null">dt,</if>
			insert_time,
			update_time,
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
			<if test="dyId != null">#{dyId},</if>
			<if test="firstLevel != null">#{firstLevel},</if>
			<if test="secondLevel != null">#{secondLevel},</if>
			<if test="thirdLevel != null">#{thirdLevel},</if>
			<if test="fourLevel != null">#{fourLevel},</if>
			<if test="guideId != null">#{guideId},</if>
			<if test="guidePhone != null">#{guidePhone},</if>
			<if test="newCount != null">#{newCount},</if>
			<if test="invCount != null">#{invCount},</if>
			<if test="dt != null">#{dt},</if>
			unix_timestamp(),
			unix_timestamp(),
		</trim>
	</sql>

	<!-- 新增 -->
	<insert id="add" parameterType="com.ofl.promotion.manage.guide.entity.filter.AdsOfflineGuideFilter">
		insert into ofl_douyin(
		<include refid="sql_add_columns"/>
		)values(
		<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 查询 -->
	<select id="findAll" parameterType="com.ofl.promotion.manage.data.entity.filter.AdsOfflineDataFilter"
			resultMap="BaseMapper" >
		SELECT d.dy_id, d.first_level, d.second_level, d.third_level, d.four_level, d.guide_id, d.guide_phone, d.new_count,
			d.inv_count, d.store_name, d.guide_name
		from ofl_douyin d
		LEFT JOIN ofl_guide g
		on(d.guide_id = g.guide_id)
		LEFT JOIN ofl_store s
		ON(g.store_id = s.store_id)
		LEFT JOIN  ofl_org o
		ON(s.org_id = o.org_id)
		<where>
			<if test="ancestorIds != null and ancestorIds != ''">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="storeName != null and storeName != ''">
				and d.store_name = #{storeName}
			</if>
			<if test="guideName != null and guideName != ''">
				and d.guide_name = #{guideName}
			</if>
			<if test="guideId != null">
				and d.guide_id = #{guideId}
			</if>
		</where>
	</select>

	<!-- 统计 -->
	<select id="count" parameterType="com.ofl.promotion.manage.data.entity.filter.AdsOfflineDataFilter"
			resultMap="CountMapper" >
		SELECT sum(d.new_count) new_count,
		sum(d.inv_count) inv_count,
		d.dt dt,
		count(d.guide_id) guide_count
		from ofl_douyin d
		LEFT JOIN ofl_guide g
		on(d.guide_id = g.guide_id)
		LEFT JOIN ofl_store s
		ON(g.store_id = s.store_id)
		LEFT JOIN  ofl_org o
		ON(s.org_id = o.org_id)
		<where>
			<if test="ancestorIds != null and ancestorIds != ''">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="storeName != null and storeName != ''">
				and d.store_name = #{storeName}
			</if>
			<if test="guideName != null and guideName != ''">
				and d.guide_name = #{guideName}
			</if>
			<if test="guideId != null">
				and d.guide_id = #{guideId}
			</if>
			group by d.dt
		</where>
	</select>

<!--	<insert id="add" parameterType="com.ofl.promotion.manage.data.entity.filter.AdsOfflineDataFilter">-->
<!--		-->
<!--	</insert>-->

</mapper>
