<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofl.promotion.manage.guide.mapper.IAdsOfflineGuideMapper">
	<!-- 返回值映射map -->
	<resultMap id="oflEmpMapper" type="com.ofl.promotion.manage.emp.entity.AdsOfflineEmp">
		<result property="guideId" column="guide_id" />
		<result property="guideName" column="guide_name" />
		<result property="phone" column="phone" />
		<result property="storeId" column="store_id" />
		<result property="status" column="status" />
		<result property="delFlag" column="del_flag" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<!-- 查询数量 -->
	<select id="guideCount" resultType="Integer">
		select count(1) from ofl_guide g
		LEFT JOIN ofl_store s
		ON(g.store_id = s.store_id)
		LEFT JOIN
		ofl_org o ON(s.org_id = o.org_id)
		<where>
			<if test="ancestorIds != null">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="status != null">
				and g.status = #{status}
			</if>
		</where>
	</select>

	<select id="">
		select
			g.guide_id,
			g.guide_name,
			g.phone,
			g.store_id,
			g.status,
			g.update_time,
			s.store_name
		from ofl_org o
		LEFT JOIN ofl_store s
		ON(o.org_id = s.org_id)
		LEFT JOIN ofl_guide g
		ON (g.store_id = s.store_id)
		<where>
			<if test="ancestorIds != null">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="status != null">
				and g.status = #{status}
			</if>
		</where>
	</select>
</mapper>
