<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofl.promotion.manage.organize.mapper.IAdsOfflineOrganizeMapper">

    <!-- 返回值映射map -->
    <resultMap id="oflOrgMapper" type="com.ofl.promotion.manage.organize.entity.AdsOfflineOrganize">
        <result property="organizeId" column="org_id" />
        <result property="organizeName" column="org_name" />
        <result property="organizeLevel" column="org_level" />
        <result property="ancestorIds" column="ancestor_ids" />
        <result property="parentId" column="parent_id" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
        <result property="insertTime" column="insert_time" />
        <result property="updateTime" column="update_time" />
        <result property="ancestorIds" column="ancestor_ids" />
    </resultMap>

    <!-- 查询数量 -->
    <select id="orgCount" resultType="Integer"
            parameterType="com.ofl.promotion.manage.organize.entity.filter.AdsOfflineOrganizeFilter">
		select count(1)
		from ofl_org
		<where>
            <if test="ancestorIds != null">
                and ancestor_ids like concat(#{ancestorIds},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
	</select>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        org_id,org_name,status,del_flag,insert_time,update_time,org_level,ancestor_ids,parent_id
    </sql>

    <sql id="time_sort">
		order by create_time desc
	</sql>

    <!-- 查询 -->
    <select id="findAll" parameterType="com.ofl.promotion.manage.organize.entity.filter.AdsOfflineOrganizeFilter"
        resultMap="oflOrgMapper" >
        select
        <include refid="selectAllColumns"/>
        FROM ofl_org
        <where>
            <if test = "ancestorIds != null">
                and ancestor_ids like concat(#{ancestorIds},'%')
            </if>
            <if test = "organizeName != null and organizeName != ''">
                and org_name  like concat('%',#{organizeName},'%')
            </if>
            <if test = "status != null">
                and status  = #{status}
            </if>
            <if test = "insertTime != null">
                and insert_time  = #{insertTime}
            </if>
            <if test = "updateTime != null and updateTime != ''">
                and update_time  = #{updateTime}
            </if>
            <if test = "parentId != null">
                and parent_id  = #{parentId}
            </if>
            and del_flag = 0
            ORDER BY update_time
        </where>
    </select>

    <select id="findOne" parameterType="com.ofl.promotion.manage.organize.entity.filter.AdsOfflineOrganizeFilter"
            resultMap="oflOrgMapper" >
        select
        <include refid="selectAllColumns"/>
        FROM ofl_org
        <where>
            <if test = "organizeId != null">
                and org_id  = #{organizeId}
            </if>
            <if test = "organizeName != null and organizeName != ''">
                and org_name like concat('%',#{organizeName},'%')
            </if>
            <if test = "status != null">
                and status = #{status}
            </if>
            <if test = "organizeLevel != null">
                and org_level = #{organizeLevel}
            </if>
            <if test = "updateTime != null and updateTime != ''">
                and update_time  = #{updateTime}
            </if>
            and del_flag = 0
        </where>
        limit 1
    </select>

    <!-- 新增列处理 -->
    <sql id="sql_add_columns">
        <trim suffixOverrides=",">
            <if test="organizeName != null">org_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestorIds != null">ancestor_ids,</if>
            <if test="organizeLevel != null">org_level,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            insert_time,
            update_time,
        </trim>
    </sql>

    <sql id="sql_add_properties">
        <trim suffixOverrides=",">
            <if test="organizeName != null">#{organizeName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestorIds != null">#{ancestorIds},</if>
            <if test="organizeLevel != null">#{organizeLevel},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            unix_timestamp(),
            unix_timestamp(),
        </trim>
    </sql>

    <!-- 新增 -->
    <insert id="addOflOrg" parameterType="com.ofl.promotion.manage.organize.entity.filter.AdsOfflineOrganizeFilter"
            keyProperty="organizeId" useGeneratedKeys="true">
        insert into ofl_org(
        <include refid="sql_add_columns"/>
        )values(
        <include refid="sql_add_properties"/>
        )
    </insert>

    <!-- 编辑 -->
    <update id="updateOrg" parameterType="com.ofl.promotion.manage.organize.entity.filter.AdsOfflineOrganizeFilter">
        update ofl_org
        <set>
            <if test = "organizeName != null ">
                org_name = #{organizeName},
            </if>
            <if test = "status != null ">
                status = #{status},
            </if>
            <if test = "delFlag != null ">
                del_flag = #{delFlag},
            </if>
            <if test = "insertTime != null ">
                insert_time = #{insertTime},
            </if>
            update_time = unix_timestamp(),
        </set>
        <where>
            <if test = "organizeId != null ">
                org_id = #{organizeId}
            </if>
        </where>
    </update>

    <select id="findHigherLevel" parameterType="com.ofl.promotion.manage.organize.entity.filter.AdsOfflineOrganizeFilter"
            resultMap="oflOrgMapper">
        select
        <include refid="selectAllColumns"/>
        FROM ofl_org
        <where>
            <if test = "parentIds != null">
                and org_id in(${parentIds})
            </if>
        </where>
        ORDER BY org_level ASC
    </select>
</mapper>
