<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ofl.promotion.manage.store.mapper.IAdsOfflineStoreMapper">
	<!-- 返回值映射map -->
	<resultMap id="BaseMapper" type="com.ofl.promotion.manage.store.entity.AdsOfflineStore">
		<result property="storeId" column="store_id" />
		<result property="storeName" column="store_name" />
		<result property="organizeId" column="org_id" />
		<result property="delFlag" column="del_flag" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<resultMap id="storeByOrgMapper" type="com.ofl.promotion.manage.store.entity.AdsOfflineStoreVo">
		<result property="storeId" column="store_id" />
		<result property="storeName" column="store_name" />
		<result property="organizeId" column="org_id" />
		<result property="delFlag" column="del_flag" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<result property="ancestorIds" column="ancestor_ids" />
	</resultMap>

	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="storeId != null">store_id,</if>
			<if test="storeName != null">store_name,</if>
			<if test="organizeId != null">org_id,</if>
			<if test="delFlag != null">del_flag,</if>
			insert_time,
			update_time,
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
			<if test="storeId != null">#{storeId},</if>
			<if test="storeName != null">#{storeName},</if>
			<if test="organizeId != null">#{organizeId},</if>
			<if test="delFlag != null">#{delFlag},</if>
			unix_timestamp(),
			unix_timestamp(),
		</trim>
	</sql>

	<!-- 新增 -->
	<insert id="add" parameterType="com.ofl.promotion.manage.store.entity.filter.AdsOfflineStoreFilter"
			keyProperty="storeId" useGeneratedKeys="true">
		insert into ofl_store(
		<include refid="sql_add_columns"/>
		)values(
		<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		store_id, store_name, org_id, del_flag, insert_time, update_time
	</sql>

	<!-- 编辑 -->
	<update id="update" parameterType="com.ofl.promotion.manage.store.entity.filter.AdsOfflineStoreFilter">
		update ofl_store
		<set>
			<if test = "storeName != null ">
				store_name = #{storeName},
			</if>
			<if test = "status != null ">
				status = #{status},
			</if>
			<if test = "delFlag != null ">
				del_flag = #{delFlag},
			</if>
			update_time = unix_timestamp(),
		</set>
		<where>
			<if test = "storeId != null ">
				store_id = #{storeId}
			</if>
		</where>
	</update>

	<!-- 查询单个实体 -->
	<select id="findOne" resultMap="BaseMapper"
			parameterType="com.ofl.promotion.manage.store.entity.filter.AdsOfflineStoreFilter">
		select
		<include refid="selectAllColumns"/>
		FROM ofl_store
		<where>
			<if test = "storeId != null ">
				and store_id = #{storeId}
			</if>
			<if test = "storeName != null ">
				and store_name = #{storeName}
			</if>
			<if test = "organizeId != null ">
				and org_id = #{organizeId}
			</if>
			limit 1
		</where>
	</select>

	<!--storeCount-->
	<select id="storeCount" resultType="Integer">
		select count(1)
		from ofl_store s LEFT JOIN
		ofl_org o ON(s.org_id = o.org_id)
		<where>
			<if test="ancestorIds != null">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="status != null">
				and s.status = #{status}
			</if>
		</where>
	</select>

	<select id="findAllByOrgIds" parameterType="com.ofl.promotion.manage.store.entity.filter.AdsOfflineStoreFilter"
			resultMap="storeByOrgMapper">
		SELECT
			s.store_id,
			s.store_name,
			s.org_id,
			s.status,
			s.update_time,
			o.ancestor_ids
		from ofl_store s
		LEFT JOIN ofl_org o
		ON(s.org_id = o.org_id)
		<where>
			<if test="status != null">
				and s.status = #{status}
			</if>
			<if test="storeName != null">
				and s.store_name like concat('%',#{storeName},'%')
			</if>
			<if test="ancestorIds != null">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="organizeName != null">
				and o.org_name like concat('%',#{organizeName},'%')
			</if>
			<if test="organizeLevel != null">
				and o.org_level = #{organizeLevel}
			</if>
		</where>
	</select>
</mapper>
