<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofl.promotion.manage.guide.mapper.IAdsOfflineGuideMapper">
	<!-- 返回值映射map -->
	<resultMap id="BaseMapper" type="com.ofl.promotion.manage.guide.entity.AdsOfflineGuide">
		<result property="guideId" column="guide_id" />
		<result property="guideName" column="guide_name" />
		<result property="phone" column="phone" />
		<result property="storeId" column="store_id" />
		<result property="status" column="status" />
		<result property="delFlag" column="del_flag" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<result property="storeName" column="store_name" />
	</resultMap>

	<resultMap id="guideMapper" type="com.ofl.promotion.manage.guide.entity.AdsOfflineGuideVo">
		<result property="guideId" column="guide_id" />
		<result property="guideName" column="guide_name" />
		<result property="phone" column="phone" />
		<result property="storeId" column="store_id" />
		<result property="status" column="status" />
		<result property="updateTime" column="update_time" />
		<result property="ancestorIds" column="ancestor_ids" />
		<result property="organizeId" column="org_id" />
	</resultMap>

	<resultMap id="guideDyAuthMapper" type="com.ofl.promotion.manage.guide.entity.AdsOfflineGuideAuth">
		<result property="guideId" column="guide_id" />
		<result property="guideName" column="guide_name" />
		<result property="phone" column="phone" />
		<result property="storeId" column="store_id" />
		<result property="status" column="status" />
		<result property="updateTime" column="update_time" />
		<result property="ancestorIds" column="ancestor_ids" />
		<result property="organizeId" column="org_id" />
		<result property="dyId" column="dy_id" />
	</resultMap>

	<sql id="selectAllColumn">
		guide_id, guide_name, phone, store_id, del_flag, insert_time, update_time,store_name
	</sql>

	<!-- 查询数量 -->
	<select id="guideCount" resultType="Integer">
		select count(1) from ofl_guide g
		LEFT JOIN ofl_store s
		ON(g.store_id = s.store_id)
		LEFT JOIN
		ofl_org o ON(s.org_id = o.org_id)
		<where>
			<if test="ancestorIds != null">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="status != null">
				and g.status = #{status}
			</if>
		</where>
	</select>

	<select id="findAll" parameterType="com.ofl.promotion.manage.guide.entity.filter.AdsOfflineGuideFilter"
			resultMap="guideMapper">
		select
			g.guide_id,
			g.guide_name,
			g.phone,
			g.store_id,
			g.status,
			g.update_time,
			s.store_name,
			o.ancestor_ids,
			o.org_id
		from ofl_guide g
		LEFT JOIN ofl_store s
		ON(s.store_id = g.store_id)
		LEFT JOIN ofl_org o
		ON (o.org_id = s.org_id)
		<where>
			<if test="ancestorIds != null">
				and o.ancestor_ids like concat(#{ancestorIds},'%')
			</if>
			<if test="status != null">
				and g.status = #{status}
			</if>
			<if test="guideName != null">
				and g.guide_name like concat('%',#{guideName},'%')
			</if>
			<if test="guideId != null">
				and g.guide_id = #{guideId}
			</if>
			<if test="phone != null">
				and g.phone = #{phone}
			</if>
		</where>
	</select>

	<select id="findGuideDyAuth" parameterType="com.ofl.promotion.manage.guide.entity.filter.AdsOfflineGuideFilter"
			resultMap="guideDyAuthMapper">
		select
			g.guide_id,
			g.guide_name,
			g.phone,
			g.store_id,
			g.status,
			g.update_time,
			d.dy_id
		from ofl_guide g
		left join ofl_douyin d
		on(g.guide_id = d.guide_id)
		<where>
			<if test="phone != null">
				and g.phone = #{phone}
			</if>
			<if test="guideId != null">
				and g.guide_id = #{guideId}
			</if>
		</where>
	</select>

	<select id="findOne" parameterType="com.ofl.promotion.manage.guide.entity.filter.AdsOfflineGuideFilter"
			resultMap="BaseMapper">
		select
		<include refid="selectAllColumn"/>
		from ofl_guide g
		LEFT JOIN ofl_store s
		ON(s.store_id = g.store_id)
		<where>
			<if test="phone != null">
				and g.phone = #{phone}
			</if>
			<if test="guideId != null">
				and g.guide_id = #{guideId}
			</if>
		</where>
	</select>

	<update id="update" parameterType="com.ofl.promotion.manage.guide.entity.filter.AdsOfflineGuideFilter">
		update ofl_guide
		<set>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
			update_time = unix_timestamp(),
		</set>
		<where>
			<if test="guideId != null">
				guide_id = #{guideId}
			</if>
		</where>
	</update>
</mapper>
